@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: #16a085;
  font-family: 'Roboto', sans-serif;
}

.main-prompt {
  font-size: 3.5em;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.guess-message {
  font-size: 2em;
  text-align: center;
  transition: .5s;
}

.choice-container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.classic-person {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  padding: 1%;
  width: 20%;
  transition: .5s;
}

.classic-person:hover {
  width: 25%;
  background-color: #16a085;
  cursor: pointer;
}

.choice-image {
  width: 100%;
  transition-duration: .5s;
}

.header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  background-color: #16a085;
  top: 0;
  height: 150px;
  margin: 0;
  padding: 0;
  color: white;
}

.scoreboard {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  width: 15%;
  margin: 2%;
  align-items: center;
  font-weight: bold;
}

.reverse-mode-game {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: auto;
  flex-direction: column;
}

.mode-button {
  height: 50%;
}

.reverse-mode-image {
  width: 20%;
  margin: 0 auto 0;
}

.reverse-name {
  text-align: center;
  transition: .5s;
}

.reverse-name:hover {
  background-color: #16a085;
  color: white;
  cursor: pointer;
}

.mode-button:hover {
  background-color: #ffffff;
  color: #16a085;
  box-shadow: 1px 1px 1px 1px #16a085;
  font-size: 1.5em;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 30%;
}

.mode-button {
  border: 1px black;
  outline: none;
  background-color: #16a085;
  color: white;
  transition-duration: .25s;
  height: 49.5%;
  width: 50%;
  font-size: 1em;
}

.active-button {
  background-color: #ffffff;
  color: #16a085;
}
