@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #2c3e50;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.main-prompt {
  font-size: 3.5em;
  text-align: center;
  margin-top: 5%;
}

.guess-message {
  font-size: 2em;
  text-align: center;
  transition: .5s;
}

.picture-container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
}

.person {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  padding: 1%;
  width: 20%;
  transition: .5s;
}

.person:hover {
  width: 25%;
}

.picture {
  width: 100%;
  transition-duration: .5s;
}

.scoreboard {
  background-color: red;
}
